<!-- <div ng-show="$ctrl.bookmarking.running">
    <ng-transclude></ng-transclude>
    <ul>
        <li ng-repeat='option in $ctrl.bookmarking.selection'>{{option.label}}</li>
    </ul>
    <button ng-click='$ctrl.bookmarking.stop()'>Auswahl Verwerfen</button>
    <button ng-click='$ctrl.bookmarking.save()'>Auswahl übernehmen</button>
</div> -->

<div layout="column" ng-cloak="" class="fabSpeedDialdemoBasicUsage globalBookmark" ng-show="$ctrl.bookmarking.running">
    <md-content class="md-padding" layout="column">
        <div class="lock-size" layout="row" layout-align="center center">
            <md-fab-speed-dial md-open="false" md-direction="right" ng-class="$ctrl.selectedMode">

                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon md-svg-src="img/icons/Information.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>

                    <md-button ng-click='$ctrl.bookmarking.stop()' aria-label="Auswahl verwerfen"
                               class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="delete" aria-label="Auswahl verwerfen"></md-icon>
                        <md-tooltip>Auswahl verwerfen</md-tooltip>
                    </md-button>
                    <md-button ng-click='$ctrl.bookmarking.save()' aria-label="Auswahl übernehmen"
                               class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="confirm" aria-label="Auswahl übernehmen"></md-icon>
                        <md-tooltip>Auswahl übernehmen</md-tooltip>
                    </md-button>

                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </md-content>
</div>