<form class="tileDetails tileDetailsSize1" ng-repeat="option in functionality.options" ng-if="option.instanceType == 'beamerProgramm'">
    <div class="tileDetails_0 tileDetails_1_4">
        <span>DVD wählen: </span>
    </div>
    <div class="tileDetails_0 tileDetails_1_4-3">
        <div class="buttonTVOverflow" ng-model="functionality.options[0].state.isactiv">
            <button ng-repeat="se in option.state" ng-click="functionality.options[0].state.isactiv = $index; functionality.options[0].state.on = true">
                {{se.value}}
            </button>
        </div>
    </div>
</form>