<form class="tileDetails tileDetailsSize1" ng-repeat="option in functionality.options" ng-if="option.instanceType == 'dryerOptionsMode'">

    <div class="tileDetails_0 tileDetails_1_5">
		<span> Aktuelles Programm: </span> 
		<span> {{option.state[functionality.options[0].state.isactiv].value}} </span> 
	</div>
    <div class="tileDetails_0 tileDetails_1_5-4">
		<md-radio-group ng-model="functionality.options[0].state.isactiv">
			<md-radio-button ng-repeat="se in option.state" value="{{$index}}">{{se.value}}</md-radio-button>
		</md-radio-group>	
    </div>
</form>