<div class="wholeGridClass scenarios" ng-controller="GridController as gc">
    <div class="gridSystemClass gridwrapper">
        <div class="gridcontent" id="grid-666666-0">
            <div class="realGridContent">
                <div class="sh-wrapper">
                    <div class="mainContentTile">
                        <div>
                            <md-button class='md-primary sh-icon' ng-click="$ctrl.createScene()">
                                <md-icon md-svg-icon="add"></md-icon>
                                <md-tooltip direction="top">Szenario Erstellen</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gridcontent" ng-repeat="scene in $ctrl.scenes"
             ng-attr-id="{{ 'grid-' + scene.id +'-' + ($index +1)}}">

            <div class="realGridContent">
                <sh-tile tile-data="scene" on-expand-change="gc.toogleGridTile($index+1,scene)"
                         single-expand="$ctrl.scenes" inj-ctrl="$ctrl">
			
					<form class="tileDetails tileDetailsSize4 shButtonSzenario">
						<div class="tileDetails_0 tileDetails_1_4">
						    <md-button class="shButton" ng-click="$ctrl.removeScene(scene)">
								<md-icon md-svg-icon="delete"></md-icon>
								<md-tooltip direction="top">Das Szenarium "{{scene.label}}" löschen</md-tooltip>

							</md-button>

							<md-button class="shButton" ng-click="$ctrl.startBookmark(scene)">
								<md-icon md-svg-icon="edit"></md-icon>
								<md-tooltip direction="top">Funktionen editieren und hinzufügen</md-tooltip>
							</md-button>

							<md-input-container>
								<label>Bezeichnung</label>
								<input ng-model="scene.label" type="text">
							</md-input-container>
						</div>
						<div class="tileDetails_0 tileDetails_1_4 overflowHidden2">
							<ul>
								<li ng-repeat="functionality in scene.attachedFunctionalities">
									<span>{{functionality.room.label}} : {{functionality.label}}</span>
									<md-button class="shButton" ng-click="$ctrl.removeFunctionalityFromScene(scene,functionality)">
										<md-icon md-svg-icon="delete"></md-icon>
										<md-tooltip direction="top">Diese Einstellung aus dem Szenarium entfernen</md-tooltip>
									</md-button>
								</li>
								<li ng-show="scene.attachedFunctionalities.length <= 0">
									Diesem Szenarium sind keine Funktionen zugeordnet
								</li>
							</ul>
						</div>
					</form>
                </sh-tile>

            </div>
        </div>
    </div>
</div>
</div>

